*{
  box-sizing: border-box;
}

body{
background: lightgrey;
}

.header{
  padding: 2px;
  width: 20%;
  background: orange;
  margin-bottom: 8px;
}

.instructions{
  padding: 4px;
  width: 45%;
  background: wheat;
  color: green;
  margin-bottom: 8px;
}

.targetNumber{
  padding: 0 25px 56px 4px;
  width: 22%;
  background: lightseagreen;
  color : white;
  float: left;
  margin-bottom :8px;
}

.winsAndLosses{
  padding: 4px;
  width: 12%;
  background: lightskyblue;
  color : black;
  float: left;
  margin-left :8px;
  margin-bottom :8px;
}

.crystals{
float: left;
}

.crystal {
  width: 10%;
  height: 100px;
  cursor: pointer; 
}

h4{
  position: fixed;
  bottom: 10px;
  width: 30%;
  padding: 24px;
  background: lightsalmon;
  color : white;
}

.finalScore{
  display: block;
 
}
